/* Container principal - Alterar donos */
.container-alterar-dono{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-container-dono-alterar{
    margin-top: 3vmin;
    text-align: center;
  }
  
  .container-alterar-dono h1{
  font-size: 8vmin;
  margin-top: 20vmin;
  margin-bottom: 2.5vmin;
  text-align: center;
  font-weight: bold;
  color: #e455a8 
  }
  
  .alterar-dono-list {
  margin-top: 3vmin;
  display: flex;
  flex-direction: row;
  }
  
  
  
  .imagem-donos-alterar {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  width: 50vmin;
  height: auto;
  }
  
  
  .form-container-dono-alterar {
    width: 70vmin;
    border-radius: 4vmin;
    box-shadow: 0 8px 20px rgba(176, 0, 97, 0.15);
    background-color: #fcf4fa;
  }
  
  .form-container-dono-alterar label{
    font-size: 2vmin;
    color: #e455a8;
    font-weight: bold;
  }
  
  .form-container-dono-alterar #id{
    font-weight: bold;
    color: #ffffff;
    background-color: #e455a8;
    margin-top: 5vmin;
  }
  
  
  
  .form-container-dono-alterar input[type="text"],
  .form-container-dono-alterar input[type="date"],
  .form-container-dono-alterar input[type="submit"] {
    margin: 1.5vmin;
    font-weight: bold;
    color: #847272;
    font-size: 2vmin;
    border: 1px solid #e455a8;
    border-radius: 3vmin;
    height: 5.5vmin;
    width: 90%;
    padding-left: 2vmin;
  }
  
  .form-container-dono-alterar input[type="text"]:focus {
    border-color: #e455a8;
    outline: none;
    box-shadow: 0 0 5px rgba(146, 11, 114, 0.5);
  }
  
  .form-container-dono-alterar input[type="submit"] {
    font-size: 3vmin;
    width: 30vmin;
    height: 7vmin;
    border-radius: 3vmin;
    background-color: #e455a8;
    color: white !important;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 5vmin;
    margin-top: 3vmin;
    display: block;
    text-align: center;
  }
  
  .form-container-dono-alterar input[type="submit"]:hover {
    background-color: #c60877;
  }
  
  
  
  /* Responsividade - Cadastro donos */
  @media (max-width: 768px) {
    .alterar-dono-list {
      flex-direction: column;
      align-items: center;
    }
  
    .form-container-dono-alterar {
      width: 90%;
      padding: 4vmin;
    }
  }