@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/*Parte principal */
body{
    font-family: "Parkinsans", sans-serif;
    font-weight: 600;
    
}

.logo{
  font-family: "Coiny", system-ui;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;

}

.cabecalho{
    background-color: #e455a8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

.cabecalho ul{
    display: flex;
    flex-direction: row;
    margin-left: 300px;
  }

.cabecalho li{
    margin: 20px;
    list-style-type: none;
}

.cabecalho li a{
    color: white;
    font-weight: 500;
    font-size: 17px;
    text-decoration: inherit;
}

.cabecalho li:hover {
    color: white;
}


/*Página dos Funcionários*/
.funcionarios-container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
}

.titulo-funcionario{
    color: #ce338d;
    font-size: 55px;
    font-weight: 700;
}

.funcionarios-list {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center; 
    gap: 30px; 
    margin-bottom: 60px;
}

.foto-funcionario {
    height: 125px;
    border-radius: 120vmin;
}

.funcionario-nome{
    color: #ce338d;
    font-size: 35px;
}

.funcionario-item p{
    margin: 3px;
    font-size: 17px;
    color: rgb(58, 58, 58);
    align-items: right;
}

.funcionario-item a{
    color: #ce338d;
    
}