@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


/* Página dos Donos */



.donos-container {
    margin-top: 15vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titulo-donos {
    color: #ce338d;
    font-size: 8vmin;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
  
.link-cadastro-donos {
    font-size: 3vmin;
    border-radius: 2vmin;
    background-color: #e455a8;
    color: white !important; /* Força o texto branco */
    cursor: pointer;
    padding: 3vmin;
    display: block;
    text-decoration: none;
    text-align: center; /* Centraliza o texto */
}

.link-cadastro-donos:hover {
    background-color: #c60877;
  }

.donos-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vmin;
    margin-bottom: 5vmin;
}

.donos-item {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 2vmin;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40vmin;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.donos-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.donos-nome {
    color: #ce338d;
    font-size: 3.5vmin;
    font-weight: bold;
}

.donos-item p {
    margin: 1vmin;
    font-size: 2.5vmin;
    color: rgb(58, 58, 58);
}

.foto-donos{
  width: 22vmin !important;
  border-radius: 100% !important; /* Define a imagem como redonda */
}