@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/*Página dos Funcionários*/
.funcionarios-container{
    margin-top: 15vmin;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
}

.titulo-funcionario{
    color: #ce338d;
    font-size: 8vmin;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.funcionarios-list {
    margin-top: 5vmin;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center; 
    gap: 7vmin; 
    margin-bottom: 6vmin;
}

.foto-funcionario {
    width: 22vmin !important;
    border-radius: 100% !important; /* Define a imagem como redonda */
}

.funcionario-nome{
    color: #ce338d;
    font-size: 5vmin;
}

.funcionario-item p{
    margin: 1vmin;
    font-size: 2.6vmin;
    color: rgb(58, 58, 58);
    align-items: right;
}

.funcionario-item a{
    color: #ce338d;
    font-size: 2.6vmin;
}