@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* Página dos Funcionários */
.funcionarios-container {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.titulo-funcionario {
    color: #ce338d;
    font-size: 8vmin;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.funcionarios-list {
    margin-top: 5vmin;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: center; 
    gap: 7vmin; 
    margin-bottom: 6vmin;
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
}

.foto-funcionario {
    width: 22vmin !important;
    border-radius: 100% !important; /* Define a imagem como redonda */
}

.funcionario-nome {
    color: #ce338d;
    font-size: 5vmin;
}

.funcionario-item p {
    margin: 1vmin;
    font-size: 2.6vmin;
    color: rgb(58, 58, 58);
    align-items: right;
}

.funcionario-item a {
    color: #ce338d;
    font-size: 2.6vmin;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .titulo-funcionario {
        font-size: 6vmin; /* Reduz o tamanho do título */
    }

    .funcionarios-list {
        flex-direction: column; /* Empilha os itens verticalmente */
        gap: 5vmin; /* Reduz o espaço entre os itens */
    }

    .foto-funcionario {
        width: 30vmin !important; /* Aumenta o tamanho relativo da imagem */
    }

    .funcionario-nome {
        font-size: 4vmin; /* Ajusta o tamanho da fonte */
    }

    .funcionario-item p, .funcionario-item a {
        font-size: 2.4vmin; /* Ajusta o tamanho do texto */
    }
}

@media (max-width: 480px) {
    .titulo-funcionario {
        font-size: 5vmin; /* Mais redução no tamanho do título */
    }

    .foto-funcionario {
        width: 35vmin !important; /* Ajuste adicional para telas menores */
    }

    .funcionario-nome {
        font-size: 3.5vmin; /* Ajusta ainda mais o tamanho da fonte */
    }

    .funcionario-item p, .funcionario-item a {
        font-size: 2.2vmin; /* Ajusta ainda mais o tamanho do texto */
    }
}
