@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

/* Parte principal */
body {
  font-family: "Parkinsans", sans-serif;
  font-weight: 600;
  background-color: #ffe0f2;
}

.logo {
  font-family: "Coiny", system-ui;
  font-size: 4.7vmin;
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
}

.cabecalho {
  background-color: #e455a8;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%; 
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index: 1000; 
}

.cabecalho ul {
  display: flex;
  flex-direction: row;
  margin-left: 55vmin;
}

.cabecalho li {
  margin: 2vmin;
  list-style-type: none;
}

.cabecalho li a {
  color: white;
  font-weight: 500;
  font-size: 3vmin;
  text-decoration: inherit;
}

.cabecalho li:hover {
  color: white;
}

/* Produtos */
/* Ajusta o espaçamento para o conteúdo abaixo do cabeçalho */
.produtos-container {
  margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.titulo-produto {
  color: #ce338d;
  font-size: 8vmin;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.produtos-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Sempre 3 colunas por linha */
  gap: 6vmin; /* Espaçamento entre os itens */
  justify-content: center; /* Centraliza horizontalmente */
  width: 130vmin;
}

.produto-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.produto-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.container-imagem img {
  width: 23vmin;
  height: auto;
  object-fit: contain;
}

.produto-nome, .produto-descricao, .produto-data_producao {
  text-align: left;
}

.produto-nome {
  font-size: 3vmin;
  font-weight: bold;
  color: #333;
  margin-bottom: 1vmin;
}

.produto-descricao {
  font-size: 2.3vmin;
  color: #555;
  margin-bottom: 2vmin;
}

.produto-data_producao {
  font-size: 2vmin;
  color: #999;
  margin-bottom: 15px;
}

.produto-preco-botao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.produto-preco {
  font-size: 3vmin;
  font-weight: bold;
  color: #e455a8;
}

.botao-comprar {
  padding: 2vmin 2.7vmin 2vmin 2.7vmin;
  font-size: 3vmin;
  border-radius: 10px;
  background-color: #e455a8;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-comprar:hover {
  background-color: #c60877;
}

.link-cadastro-produtos-container {
  margin-top: 7vmin;
}

.link-cadastro-produtos {
  font-size: 3vmin;
  border-radius: 2vmin;
  background-color: #e455a8;
  color: white !important;
  cursor: pointer;
  padding: 3vmin;
  display: block;
  text-decoration: none;
  text-align: center;
}

.link-cadastro-produtos:hover {
  background-color: #c60877;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .cabecalho ul {
    margin-left: 0;
    flex-wrap: wrap;
  }

  .cabecalho li {
    margin: 1.5vmin;
  }

  .titulo-produto {
    font-size: 6vmin;
  }

  .produtos-list {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas em tablets */
    width: 100%; /* Adapta a largura */
  }

  .produto-item {
    padding: 10px;
  }

  .produto-nome, .produto-descricao, .produto-data_producao, .produto-preco {
    font-size: 2.5vmin;
  }

  .botao-comprar {
    font-size: 2.5vmin;
  }

  .link-cadastro-produtos {
    font-size: 2.5vmin;
    padding: 2vmin;
  }
}


@media (max-width: 480px) {
  .titulo-produto {
    font-size: 5vmin;
  }

  .produtos-list {
    grid-template-columns: repeat(1, 1fr); /* 1 coluna em smartphones */
  }

  .produto-nome, .produto-descricao, .produto-data_producao, .produto-preco {
    font-size: 2vmin;
  }

  .botao-comprar {
    font-size: 2vmin;
  }

  .link-cadastro-produtos {
    font-size: 2vmin;
    padding: 1.5vmin;
  }
}

.botoes-funcao{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vmin;
}

.botaoAlterar{
  font-size: 2.2vmin;
  padding: 1.8vmin 5vmin 1.8vmin 5vmin;
  border-radius: 10px;
  background-color: #ffffff;
  border: #e455a8 0.3vmin solid;
  color: #e455a8;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.botaoExcluir{
  font-size: 2.2vmin;
  padding: 1.8vmin 5vmin 1.8vmin 5vmin;
  border-radius: 10px;
  background-color: #e455a8 ;
  border: #e455a8 0.3vmin solid;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}